<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<!-- ATTENTION : Ce fichier n'est pas pris en compte par log4j il sert de référence  -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="LogFile" fileName="log/MasterCoyoteMind.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
    
</Configuration>